extends layout

block content
  .container
  hr
  h1 Registrar pedio
  hr
  form(action='http://localhost:3000/pedido' method='POST')
    .form-group
      label(for='nombre') Nombre
      input.form-control(name='nombre')
    .form-group
      label(for='precio') Precio
      input.form-control(name='precio')
    .form-group
      label(for='cantidad') Cantidad
      input.form-control(name='cantidad')
    // Other fields
    button.btn.btn-primary(type='submit') Submit
